﻿@model IEnumerable<ApartmentRentals.Model.OfferDTO>

@{
    ViewBag.Title = "Offers";
}

<h2>Offers</h2>

<table class="table">
    <tr>
        <th>
            Apartment Id
        </th>
        <th>
            Fee
        </th>
        <th>
            Date
        </th>
        <th>
            Status
        </th>
        <th>
            Response
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee) $
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Response)
            </td>
            <td>
                @using Microsoft.AspNet.Identity;
                @if (Request.IsAuthenticated && User.IsInRole("Owner") && item.Status_Id.Equals("Sent"))
                {
                    using (Html.BeginForm("Accept", "Apartments", FormMethod.Post))
                    {
                        <input type="hidden" value="@item.Id" name="Id" />
                        <input type="hidden" value="@item.Apartment_Id" name="Apartment_Id" />

                        <input type="submit" value="Accept" class="btn btn-default" style="display:inline" />
                    }
                    using (Html.BeginForm("Refuse", "Apartments", FormMethod.Post))
                    {
                        <input type="hidden" value="@item.Id" name="Id" />
                        <input type="hidden" value="@item.Apartment_Id" name="Apartment_Id" />
                        <input type="text" name="Response" style="display:inline" />
                        <input type="submit" value="Refuse" class="btn btn-default" style="display:inline" />
                    }
                }
            </td>
        </tr>
    }

</table>
