﻿@model IPagedList<BookStore.Models.ViewModels.BookViewModel>
@{
    var user=Session["user"] as BookStore.Models.User;
}
<table class="table" id="searchResults">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Genre
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (item.Quantity > 0)
                    {
                        @Html.ActionLink("Sell", "Sell", new { id = item.Id })                        
                    }
                    
                    @if (user != null)
                    {

                        if (user.Roles.Contains("Admin"))
                        {
                            if (item.Quantity > 0)
                            {
                                <text> |</text>
                            }
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                         <text> |</text>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                    }
                </td>
            </tr>
        }
</table>
<div class="pagedList" data-otf-target="#bookList">
    @Html.PagedListPager(Model, page => Url.Action("Search", new { searchText=ViewBag.SearchText, searchOption=ViewBag.SearchOption,page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>